---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from 'astro:assets'
import AboutImg from "../assets/about-img.png"
import AboutBanner from "../assets/about-banner.png"
import Book1 from "../assets/book-1.png"
import Book2 from "../assets/book-2.png"
---



<MainLayout title="About Richmond">

    <!-- About-hero -->
    <section class="section-about pb-40 p-4 lg:px-24 md:ml-64 pt-36">
        <div class=" about-container grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
            <div>
                <h2 class="heading-secondary mb-6">Software Engineer and Entrepreneur</h2>
                <p>This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think.</p>
                <p>This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think</p>
            </div>
            <div class="text-center">
                <Image src={ AboutImg } alt="Richmond Duah" class="inline-block"/>
            </div>
            <div>
                <h2 class="heading-secondary mb-6">Software Engineer and Entrepreneur</h2>
                <p>This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think.</p>
                <p class="mb-8">This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think</p>
                <a href="/contact" class="btn btn-primary mb-12">Contact me</a>
            </div>
            <div>
                <h2 class="heading-secondary mb-6">Software Engineer and Entrepreneur</h2>
                <p>This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think.</p>
                <p>This time we are collaborating with a platform called Simael. one of the email service providers that helps many users to connect with other users privately and safely. Let me know what you think</p>
            </div>
        </div>
    </section>


    <!-- Section-banner -->
    <section class="section-banner p-4 lg:px-24 md:ml-64 py-20">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="banner-item">
                <h1>Personal Branding</h1>
            </div>
            <div class="banner-item">
                <h1>Personal Branding</h1>
            </div>
            <div class="banner-item">
                <h1>Personal Branding</h1>
            </div>
            <div class="banner-item">
                <h1>Personal Branding</h1>
            </div>
        </div>
    </section>


    <!-- Section-Books -->
    <section class="section-books p-4 lg:px-24 md:ml-64 py-36">
        <h2 class="heading-secondary mb-11">Books I am reading</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <Image src={ Book1 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book2 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book1 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book2 } alt="This is Marketing by Seth Godin"/>
        </div>
    </section>

</MainLayout>







<style>

.about-container {
    
}
.about-container p {
    margin-bottom: 1rem;
}
.about-container img {
    width: auto;
    height: 100%;
    max-height: 400px;
}



/* Banner */
.section-banner {
    /* width: 100%; */
    background-image: url(../assets/about-banner.png);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.section-banner .banner-item {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #E2B210;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .4s;
}
.section-banner .banner-item:hover {
    transform: translateY(-5px) scale(1.05);
}



</style>






