---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from 'astro:assets'
import AboutImg from "../assets/about-img.png"
import AboutBanner from "../assets/about-banner.png"
import Book1 from "../assets/book-1.png"
import Book2 from "../assets/book-2.png"
---



<MainLayout title="About Richmond">

    <!-- About-hero -->
    <section class="section-about pb-40 p-4 lg:px-24 md:ml-64 pt-36">
        <div class=" about-container grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
            <div>
                <h2 class="heading-secondary mb-6">Who Am I:
                </h2>
                <p>
                    I'm Richmond, a passionate Business Strategist and Mindset enthusiasts based in Ghana. 

</p>
                <p>With expertise in strategic planning, project management, and risk mitigation, I help individuals and organizations achieve their goals.</p>
            </div>
            <div class="text-center">
                <Image src={ AboutImg } alt="Richmond Duah" class="inline-block"/>
            </div>
            <div>
                <h2 class="heading-secondary mb-6">Where I am at the moment: </h2>
                <p>Currently, I'm focused on promoting sustainability, ESG initiatives, climate action and tourism. I believe in empowering people to make a positive impact.
                    My calling is philanthropy - making the world greener and better.
                </p>
                <p class="mb-8"> I Like to talk about personal growth and branding to help people find their best selves and craft standout identities. My organized approach and positive mindset allow me to manage diverse priorities.

                </p>
                <a href="/contact" class="btn btn-primary mb-12">Contact me</a>
            </div>
            <div>
                <h2 class="heading-secondary mb-6">Where I am headed:
                </h2>
                <p>Looking ahead, I aim to further integrate purpose into my work. I strive to lead by example when it comes to social responsibility and making a difference.</p>
                <p> I'm excited to collaborate with those as passionate as I am about driving change through business and beyond</p>
            </div>
        </div>
    </section>


    <!-- Section-banner -->
    <section class="section-banner p-4 lg:px-24 md:ml-64 py-20">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="banner-item">
                <h1>Sustainability & ESG</h1>
            </div>
            <div class="banner-item">
                <h1>Philanthropy</h1>
            </div>
            <div class="banner-item">
                <h1>Tourism</h1>
            </div>
            <div class="banner-item">
                <h1>Personal Growth</h1>
            </div>
        </div>
    </section>


    <!-- Section-Books -->
    <section class="section-books p-4 lg:px-24 md:ml-64 py-36">
        <h2 class="heading-secondary mb-11">Books I am reading</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <Image src={ Book1 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book2 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book1 } alt="This is Marketing by Seth Godin"/>
            <Image src={ Book2 } alt="This is Marketing by Seth Godin"/>
        </div>
    </section>

</MainLayout>







<style>

.about-container {
    
}
.about-container p {
    margin-bottom: 1rem;
}
.about-container img {
    width: auto;
    height: 100%;
    max-height: 400px;
}



/* Banner */
.section-banner {
    /* width: 100%; */
    background-image: url(../assets/about-banner.png);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.section-banner .banner-item {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #E2B210;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .4s;
}
.section-banner .banner-item:hover {
    transform: translateY(-5px) scale(1.05);
}



</style>






