---
import MainLayout from "../layouts/MainLayout.astro"

---



<MainLayout title="Richmond's Blog">

    <!-- ========================== Section Blog =============== -->
    <section class="section-blog p-4 lg:px-24 md:ml-64 pt-36">

    </section>

</MainLayout>


