---
import MainLayout from "../layouts/MainLayout.astro"

---



<MainLayout title="Richmond's Blog">

    <!-- ========================== Section Blog =============== -->
    <h1>Blog</h1>

</MainLayout>


