---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Videos">

    <section class="section-videos p-4 lg:px-24 md:ml-64 pt-36">
        <h2 class="heading-secondary mb-11">Here is what I do when I am not at work.</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DSkPUYIIFxc?si=8wJl2sNIUCUjsB1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/YvVy7ffiX4c?si=LUuHZY1t4r5gRcZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/AAlnND7879M?si=HbYELY35c7Xt2oQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/NcUsMYBD8WM?si=7nMbX9P7DOHjNekY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>
</MainLayout>



<style>

.section-videos {
    min-width: calc(100vh -2rem);
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1.78;
}
</style>