

<!--==================== Footer ==================-->
<footer class="bg-gray-100">
    <div class="text-center px-5 md:px-52">
        <p>&copy; 2024 Richmond Duah. All Rights Reserved. | Built by <a href="https://segulaglobal.com" target="_blank">Segula Global</a>
    </div>
    </p>
</footer>





<!-- Styles -->
<style>

footer {
    color: #b4b3b3;
    padding: .5rem 0;
	grid-column-start: 2;
	grid-row-start: 2;
    height: 2rem;

    p {
        font-size: .8rem;
    }
    a {
        color: var(--clr-primary);
        font-weight: bold;
    }
}

</style>